@using Microsoft.AspNetCore.Http;
@using GanzAdmin.Authentication;
@using GanzAdmin.Database;
@using GanzAdmin.Database.Models;

@namespace GanzAdmin.Shared

<header>
    <h1>
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            GanzAdmin
        </NavLink>
    </h1>
</header>

<main class="full dashboard">
    <h2>Belépés</h2>

    <EditForm class='login' method="post" EditContext="new EditContext(true)" OnValidSubmit="HandleValidSubmit">
        <table>
            <tr>
                <td><label for="user">Felhasználónév:</label></td>
                <td><input type="text" name="user" @bind-value="this.User" /></td>
            </tr>
            <tr>
                <td><label for="pass">Jelszó:</label></td>
                <td><input type="password" name="pass" @bind-value="this.Pass" /></td>
            </tr>
        </table>
        
        <center><button type="submit">Belépés</button></center>
    </EditForm>
</main>


@code
{
    [Inject]
    protected GanzAuthProvider AuthProvider { get; set; }

    [Inject]
    protected IJSRuntime JS { get; set; }

    [Inject]
    protected NavigationManager NavMan { get; set; }

    private string User { get; set; }
    private string Pass { get; set; }

    private string ErrorMessage { get; set; }

    private void HandleValidSubmit()
    {
        if (this.AuthProvider.TrySignIn(this.User, this.Pass))
        {
            this.NavMan.NavigateTo(this.NavMan.Uri);
            JS.InvokeVoidAsync("alertify.success", "Sikeres belépés!");
        }
        else
        {
            JS.InvokeVoidAsync("alertify.error", "Hibás felhasználónév vagy jelszó!");
        }
    }
}