<nav>
    <span id='selected-items' title='Eszközök'></span>

    <span id='menu' title='Menü'></span>
    <ul>
        <li><NavLink class="nav-link" href="members">Tagok</NavLink></li>

        <li><a href='getparts'>Alkatrészek</a></li>
        <li><a href='getcategories'>Kategóriák</a></li>
        <li><a href='getlocations'>Helyek</a></li>
        <ul id='login-menu'>
            <li><a href='showlogin'>Bejelentkezés</a></li>
        </ul>
        <li><a href='getusers'>Admin panel (dev)</a></li>
        <li><a class='ignore' href='help.html' targer='_blank'>Súgó</a></li>
    </ul>
</nav>