@using GanzAdmin.Authentication;

<nav>
    <span id='selected-items' title='Eszközök' @onclick="() => { this.ToolProvider.ShowMenu = true; }"></span>

    <span id='menu' title='Menü'></span>
    <ul>
        <li><a href='/my-profile'>Saját adatok</a></li>
        <li><NavLink href="/members">Tagok</NavLink></li>
        <li><a href='/parts'>Alkatrészek</a></li>
        <li><a href='/categories'>Kategóriák</a></li>
        <li><a href='/locations'>Helyek</a></li>
        <li><a href='/suppliers'>Beszállítók</a></li>
        <li><NavLink href="/help">Súgó</NavLink></li>

        <li><a href="" @onclick="@OnLogOut" @onclick:preventDefault>Kilépés</a></li>
    </ul>
</nav>

@code
{
    [Inject]
    private GanzAuthProvider AuthProvider { get; set; }

    [Inject]
    protected NavigationManager NavMan { get; set; }

    [Inject]
    protected IJSRuntime JS { get; set; }

    [Inject]
    public ToolService ToolProvider { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            this.JS.InvokeVoidAsync("onMenuReady");
        }
    }


    private void OnLogOut()
    {
        this.AuthProvider.SignOut();
        this.NavMan.NavigateTo("/");
        this.JS.InvokeVoidAsync("alertify.success", "Viszontlátásra!");
    }
}