src/.vs
src/.vs
src/GanzAdmin/bin
src/GanzAdmin/obj
src/GanzAdmin.Database/obj
src/GanzAdmin.Database/bin
src/GanzAdmin.Database/GanzAdmin.Database.csproj.user
src/GanzAdmin/GanzAdmin.csproj.user
src/GanzAdmin.Utils/bin
src/GanzAdmin.Utils/obj
src/GanzAdmin/_Data/litedb.bin
src/GanzAdmin/_Data/ganzadmin.db
src/GanzAdmin/_Data/ganzadmin-log.db
