@using System.IO;
@using GanzAdmin.Components.FileBrowser;

<div>
</div>

@code
{
    [Parameter]
    public string StartingDirectory { get; set; }

    [Parameter]
    public EventCallback Selected { get; set; }

    [Parameter]
    public EventCallback Opened { get; set; }


    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();
    }

    protected void Select(object sender)
    {
        this.Selected.InvokeAsync(sender);
    }

    protected void Open(object sender)
    {
        this.Opened.InvokeAsync(sender);
    }
}