@using System.IO;
@using GanzAdmin.Components.FileBrowser;

<div>
    @foreach(string file in Directory.GetDirectories(this.StartingDirectory))
    {
        <FileBox IsFolder="true" Path="@file" />
    }

    @foreach(string file in Directory.GetFiles(this.StartingDirectory))
    {
        <FileBox IsFolder="false" Path="@file" />
    }
</div>

@code
{
    [Parameter]
    public string StartingDirectory { get; set; }

    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();
    }
}