@page "/print"
@layout PrintLayout

@using Microsoft.AspNetCore.Http;

<div>
    @((MarkupString)this.PrintContent)
    DEF
</div>

@code
{
    [Inject]
    protected IHttpContextAccessor Http { get; set; }

    public string PrintContent { get; set; }

    protected override Task OnInitializedAsync()
    {
        this.PrintContent = this.Http.HttpContext.Request.Query.FirstOrDefault(q => q.Key == "print").Value;

        return base.OnInitializedAsync();
    }
}
