@page "/"
@namespace GanzAdmin.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GanzAdmin</title>

    <link rel="icon" type="image/png" href="img/favicon.png" />

    <base href="~/" />
    <link rel='stylesheet' href='style/style.css'>
    <link rel="stylesheet" href="style/alertify.core.css" />
    <link rel="stylesheet" href="style/alertify.bootstrap.css" />
    <link rel="stylesheet" href="style/controls.css" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            Sajnos hiba történt =( Lehet, hogy újra kell töltened az oldalt!
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src='js/jquery.js'></script>
    <script src='js/alertify.min.js'></script>
    <script src='js/jslinq.js'></script>
    <script src='js/datagrid.js'></script>
    <script src='js/common.js'></script>
    <script src='js/blazor.js'></script>

    <!-- SignalR client -->
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
