@page "/"

<main class="full dashboard">
    <section>
        <h1>Hello, --belépett felhasz--!</h1>

        <h2>Gyorslinkek</h2>

        <NavLink href="/members" class="button">
            <i></i>
            <p>Tagok</p>
        </NavLink>
        <NavLink href="/test-auth" class="button">
            <i></i>
            <p>Tesztek</p>
        </NavLink>


        <h2>Adatkezelés</h2>

        <NavLink href="/members" class="button">
            <i></i>
            <p>Tagok</p>
        </NavLink>
    </section>
</main>