@page "/"

@using GanzAdmin.Authentication;
@using GanzAdmin.Authentication.Components;
@using GanzAdmin.Database;
@using GanzAdmin.Database.Models;

<main class="full dashboard @(this.CurrentUser == null ? "loading" : "")">
    @if (this.CurrentUser != null)
    {
        <h1>Helló, @this.CurrentUser?.Name!</h1>

        <div class="grid">
            <section>
                <h2>Foglalkozás</h2>
                <NavLink href="/notyet" class="button">
                    <i></i>
                    <p>Tananyagtár</p>
                </NavLink>
                <NavLink href="/calendar" class="button">
                    <i></i>
                    <p>Naptár</p>
                </NavLink>

                @if (!this.CurrentUser.Attendances.Exists(a => a.Occasion.Date == DateTime.Today))
                {
                    <NavLink class="button" @onclick="OnLogAttenance">
                        <i></i>
                        <p>Megjöttem!</p>
                    </NavLink>
                }
            </section>

            <section>
                <h2>Adatkezelés</h2>
                <AuthorizedView NeededRolesOR="ListUsers">
                    <NavLink href="/members" class="button">
                        <i></i>
                        <p>Tagok</p>
                    </NavLink>
                </AuthorizedView>
            </section>

            <section>
                <h2>Felhőtároló</h2>
                <AuthorizedView NeededRolesOR="OwnFileStorage">
                    <NavLink href="/files/own" class="button">
                        <i></i>
                        <p>Saját fájljaim</p>
                    </NavLink>
                </AuthorizedView>
                <AuthorizedView NeededRolesOR="CommonFileStorage">
                    <NavLink href="/files/shared" class="button">
                        <i></i>
                        <p>Közös fájlok</p>
                    </NavLink>
                </AuthorizedView>
            </section>

            <section>
                <h2>Fejlesztői eszközök</h2>
                <NavLink href="/dev-ideas" class="button">
                    <i></i>
                    <p>Fejlesztési javaslatok</p>
                </NavLink>

                <AuthorizedView NeededRolesOR="Overlord">
                    <NavLink href="/test-auth" class="button">
                        <i></i>
                        <p>Tesztek</p>
                    </NavLink>
                </AuthorizedView>
            </section>
        </div>
    }
</main>

@code
{
    [Inject]
    private IJSRuntime JS { get; set; }

    [Inject]
    public GanzAuthProvider AuthProvider { get; set; }

    public Member CurrentUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() =>
        {
            this.CurrentUser = GanzAdminDbEngine.Instance.Members.FindById(this.AuthProvider.CurrentSesstion.MemberId);
        });
    }

    private void OnLogAttenance()
    {
        GanzAdminDbFunctions.LogAttendance(this.CurrentUser, DateTime.Today);
        this.JS.InvokeVoidAsync("alertify.success", "Jelenléti ív frissítve!");
    }
}