@page "/security-cameras"

@using System.Net;
@using Microsoft.AspNetCore.Http;


<main class="full dashboard">
    <AuthorizedView NeededRolesOR="@Permissions.AccessSeurityCameras">
        <div class="grid">
            <section class="entry-item">
                <h2>G2 - KAM2</h2>
                <video id="video-player-2" />
            </section>
            <section class="entry-item">
                <h2>G2 - KAM1</h2>
                <video id="video-player-1" />
            </section>
            <section class="entry-item">
                <h2>G2 - KAM4</h2>
                <video id="video-player-4" />
            </section>
            <section class="entry-item">
                <h2>G2 - KAM3</h2>
                <video id="video-player-3" />
            </section>
        </div>
    </AuthorizedView>
</main>

@code
{
    [Inject]
    protected IJSRuntime JS { get; set; }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        for (int i = 1; i <= 4; i++)
        {
            JS.InvokeVoidAsync("createHlsPlayer", $"video-player-{i}", $"/content/nvr/g2_{i}.m3u8");
        }

        return base.OnAfterRenderAsync(firstRender);
    }
}