@page "/statistics"


<h3>Statistics</h3>

WIP!

@code
{      
    protected override void OnInitialized()
    {
        base.OnInitialized();

        IEnumerable<Statistic> list = GanzAdminDbEngine.Instance.GetCollection<Statistic>().FindAll();

        var parts = list.Where(stat => stat.Name == nameof(Statistic.StatisticTypes.Parts));
    }
}
