@inherits ToolBase

<p>
    <label for="labeltype">Címke típus:</label>

    <select name="labeltype" @bind="this.LabelType">
        <option selected value="1">Szortiment szekrény</option>
        <option value="2">Önzáró zacskó</option>
    </select>
</p>
<button @onclick="() => this.GenerateLabels()">Küldés</button>


@code
{
    public int LabelType { get; set; }

    [Inject]
    protected Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery { get; set; }

    [Inject]
    protected Microsoft.AspNetCore.Http.IHttpContextAccessor Http { get; set; }


    public PrintLabelsTool()
    {
        this.Icon = "";
        this.Name = "Címke nyomtatás";
        this.Description = "Katalogizáló címkéket nyomtat a kiválasztott alkatrészeket.";
        this.SupportedEntities = new List<Type> { typeof(Part) };
    }

    protected override Task OnInitializedAsync()
    {
        this.Entities = this.ToolProvider.CheckedItems;

        return base.OnInitializedAsync();
    }

    private void GenerateLabels()
    {
        string skeleton = "<html><head><meta charset='utf-8'></head><body>{0}</body></html>";
        string result = "";
        foreach(Part part in this.Entities.FromEntities<Part>())
        {
            switch(this.LabelType)
            {
                case 1: result += this.GenerateSmallLabel(part); break;
                case 2: result += this.GenerateBigLabel(part); break;
            }
        }

        Microsoft.AspNetCore.Antiforgery.AntiforgeryTokenSet csrf = this.antiforgery.GetTokens(this.Http.HttpContext);
        string formData = $"{{ \"print\": \"{result}\", \"{csrf.FormFieldName}\": \"{csrf.RequestToken}\" }}";
        this.JS.InvokeVoidAsync("createPost", "./print", formData);
    }

    private string GenerateSmallLabel(Part part)
    {
        return $"<div class=''><span>{part.Name}</span></div>";
    }

    private string GenerateBigLabel(Part part)
    {
        //http://api.qrserver.com/v1/create-qr-code/?color=000000&bgcolor=FFFFFF&data=ABCD&qzone=1&margin=0&size=425x425&ecc=L
        return "";
    }


}
