<div class="error-page">
    <div class="container">
        <div class="col-xl-8 mx-lg-auto">
            <header class="text-center">
                <h1>A fenébe!</h1>
                <p class="section-subtitle">Nemt aláljuk az oldalt amit kerese....</p>
            </header>
            <div class="message">
                <p>404</p>
            </div>
            <div class="masthead">
    @*            <form>
                    <input type="text" class="search-field" placeholder="Search Something ... ">
                    <button type="submit"><i class="icon icon-search"></i>
                    </button>
                </form>
    *@        </div>
        </div>
    </div>
</div>