@page "/test-auth"

@using System.IO;
@using  GanzAdmin.Components.Edit;

    <main class="full dashboard">
        <AuthorizeView>
            <Authorized>
                Be vagy jelentkezve!
            </Authorized>
            <Authorizing>
                Éppen jelentkezel be!
            </Authorizing>
            <NotAuthorized>
                Nem vagy bejelentkezve!
            </NotAuthorized>
        </AuthorizeView>

        @if (this.Files != null)
        {
            @foreach (string s in this.Files)
            {
                <p>@s</p>
            }
        }

        <WysiwygEditor Value="teszt"></WysiwygEditor>

        <CodeEditor></CodeEditor>

        @*<TagsEditor AuthOR="" Items="this.Users" @bind-Value="vla"></TagsEditor>*@

        <ul class="tags-editor">
            <li class="addedTag">Web Deisgn<span onclick="$(this).parent().remove();" class="tagRemove">x</span><input type="hidden" name="tags[]" value="Web Deisgn"></li>
            <li class="addedTag">Web Develop<span onclick="$(this).parent().remove();" class="tagRemove">x</span><input type="hidden" name="tags[]" value="Web Develop"></li>
            <li class="addedTag">SEO<span onclick="$(this).parent().remove();" class="tagRemove">x</span><input type="hidden" name="tags[]" value="SEO"></li>

            <li class="tagAdd taglist">
                <input type="text" id="search-field">
            </li>
        </ul>

        <FileField Display="Betölthető:"></FileField>

        <FileField Display="Létező kép:" Value="./content/uploads/200706_0304_Untitled.png"></FileField>
    </main>


@code
{
    private List<string> Files { get; set; }

    private List<Tuple<int, string>> vla { get; set; } = new List<Tuple<int, string>>();

    private List<Tuple<int, string>> Users
    {
        get
        {
            using(GanzAdminDbEngine db = GanzAdminDbEngine.GetInstance())
            {
                return db.Members.FindAll().Select(m => new Tuple<int, string>((int)m.Id, m.Name)).ToList();
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() =>
        {
            this.Files = Directory.GetFiles(@"C:\").ToList();
        });
    }
}