/*#region Switch*/
label.switch
{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input
{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider
{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before
{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider
{
    background-color: #00838f;
}

input:focus + .slider
{
  box-shadow: 0 0 1px #00838f;
}

input:checked + .slider:before
{
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/*#endregion*/

/*#region Timeline*/
/* -------------------------------------
 * timeline
 * ------------------------------------- */
.timeline
{
    list-style: none;
    margin: 50px 0 30px 150px;
    padding-left: 30px;
    border-left: 8px solid #eee9dc;
}

.timeline > li
{
        margin: 40px 0;
        position: relative;
}

.timeline .date
{
    margin-top: -10px;
    top: 50%;
    left: -188px;
    font-size: 0.95em;
    line-height: 20px;
    position: absolute;
}

.timeline .circle
{
    margin-top: -10px;
    top: 50%;
    left: -44px;
    width: 10px;
    height: 10px;
    background: #48b379;
    border: 5px solid #eee9dc;
    border-radius: 50%;
    display: block;
    position: absolute;
}

.timeline .content
{
    padding: 50px 20px 0;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 0.5em;
    position: relative;
}

.timeline .content:before, .content:after
{
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    pointer-events: none;
    right: 100%;
}

.timeline .content:before
{
    border-right-color: inherit;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
}

.timeline .content:after
{
    border-right-color: #FFFFFF;
    border-width: 17px;
    top: 50%;
    margin-top: -17px;
}

.timeline .content p
{
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
}

.timeline label
{
    font-size: 1.3em;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    top: 20px;
    transition: transform 0.2s linear;
}

.timeline .radio
{
    display: none;
}

.timeline /*.radio:checked +*/ .relative label
{
    cursor: auto;
    transform: translateX(42px);
}

.timeline /*.radio:checked +*/ .relative .circle
{
    background: #00838f;
}

.timeline /*.radio:checked ~*/ .content
{
    border-color: #eee9dc;
    margin-right: 20px;
    transform: translateX(20px);
    transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}

.timeline /*.radio:checked ~*/ .content p
{
    transition: color 0.3s linear 0.3s;
}

/*#endregion*/

/*#region Tag editor*/

.tags-editor
{
    list-style: outside none none;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    display: table;
    padding: 0.5em;
    width: 100%;
    cursor: text;
}

.tags-editor li.tagAdd, .tags-editor li.addedTag
{
    float: left;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.tags-editor li.addedTag
{
    cursor:default;
    background: none repeat scroll 0 0 #00838f;
    border-radius: 2px;
    color: #fff;
    padding: 0.25em;
}

.tags-editor input, li.addedTag
{
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: none;
    display: block;
    padding: 0.5em;
}

.tags-editor input:hover
{
    border: 1px solid #000;
}

span.tagRemove
{
    cursor: pointer;
    display: inline-block;
    padding-left: 0.5em;
}

span.tagRemove:hover
{
    color: #222222;
}

/*#endregion*/