@using GanzAdmin.Authentication.Components;
@using GanzAdmin.Database.Models;

@inherits EditField<string>

<div id="editorjs"></div>

@code
{
    [Inject]
    protected IJSRuntime JS { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && !this.m_HasRendered)
        {
            DotNetObjectReference<WysiwygEditor> objRef = DotNetObjectReference.Create(this);
            this.JS.InvokeVoidAsync("createEditorJS", this.m_Value, objRef);
            this.m_HasRendered = true;
        }
    }

    [JSInvokable]
    public void OnJsChanged(string data)
    {
        this.OnValueChanged(new ChangeEventArgs() { Value = data });
    }

    protected override bool ShouldRender()
    {
        return !this.m_HasRendered;
    }
}